.searchContainer{

  :global {
    .ant-modal-content{
      padding: 0;
    }
  }
}

.searchDialog{
  width: 100%;
  background-color: var(--color-config-slider);
  border-radius: 6px;

  .searchHeader{
    display: flex;
    align-items: center;
    padding: 12px 18px;

    .divider{
      width: 1px;
      height: 24px;
      background: var(--color-border);
      margin-right: 10px;
    }

    .closeBtn{
      font-size: 18px;
      color: var(--color-text-primary);
    }
  }

  .taskContainer{
    height: 60vh;
    overflow-y: auto;
    border-top: 1px solid var(--color-border);
    padding: 8px 12px 0 12px;

    .taskItem{
      padding: 6px 12px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: var(--color-text-primary);
      border-radius: 4px;

      &:hover{
        background-color: #f2f2f2;
      }

      .name{
        flex: 1;
        padding-right: 10px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}


.downloadMain{
  display: flex;
  height: 100%;
  width: -webkit-fill-available;

  .downloadBar{
    height: 100%;
    padding: 26px 12px 12px 12px;
    border-right: 1px solid var(--color-border);
    background-color: var(--cust-slider-sec-bg);
    position: relative;
    box-sizing: border-box;

    .downloadTitle{
      font-size: 13px;
      padding-bottom: 20px;
      padding-left: 6px;
      color: var(--color-text-thr);
    }

    .downloadBtn{
      //margin-top: 10px;
      margin-bottom: 28px;

      button{
        box-shadow: 2px 2px 8px rgba(0, 0, 0, .24);
        height: 34px;
      }
    }

    .barItem{
      display: flex;
      align-items: center;
      justify-content: flex-start;
      width: 120px;
      height: 30px;
      border-radius: 6px;
      cursor: pointer;
      font-size: 15px;
      color: var(--color-text-second);
      position: relative;
      transition: all 0.3s;
      margin: 0 0 10px 0;
      padding: 5px 16px;
      transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);


      svg{
        font-size: 20px;
        margin-right: 10px;
      }

      &.active{
        background-color: var(--color-primary-second);
        color: var(--color-primary);
      }
    }

    .searchBtn{
      //border-top: 1px solid var(--color-border);
      border-radius: 0;
      position: absolute;
      bottom: 18px;
      margin: 0;
      width: calc(100% - 24px);
    }
  }


  .leftContainer{
    flex: 1;
    height: 100%;
    padding-top: 16px;
    overflow: hidden;

    .searchBtn{
      margin: 0 16px 10px 16px;
      width: 300px;
      position: relative;
      z-index: 30;
      -webkit-app-region: none;
    }
  }
}


.downloadContainer{
  height: 100%;
  width: -webkit-fill-available;
  display: flex;
  flex-direction: column;

  .containerTop{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 16px;
    border-block-end: 1px solid var(--color-border);

    .actionGroup{
      button{

        :global {
          .ant-btn-icon{
            line-height: 0;
          }
        }

        svg{
          font-size: 12px;
        }
      }
    }

    .leftTitle{
      display: flex;
      align-items: center;

      h1{
        margin: 0;
        font-size: 22px;
        color: var(--color-text-primary);
      }

      .downloadCount{
        margin-left: 10px;
        background: var(--color-primary-second);
        color: var(--color-primary);
        padding: 4px 8px;
        line-height: 1;
        border-radius: 6px;
      }
    }
  }

  .downloadList{
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-y: auto;

    .downloadListItem{
      display: flex;
    }
  }
}
