.downloadContainer{
  height: 100%;
  width: -webkit-fill-available;
  display: flex;
  flex-direction: column;

  .containerTop{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 16px;
    border-block-end: 1px solid rgba(5, 5, 5, 0.06);

    .leftTitle{
      display: flex;
      align-items: center;

      h1{
        margin: 0;
        font-size: 22px;
        color: var(--color-text-primary);
      }

      .downloadCount{
        margin-left: 10px;
        background: var(--color-primary-second);
        color: var(--color-primary);
        padding: 4px 8px;
        line-height: 1;
        border-radius: 6px;
      }
    }
  }

  .downloadList{
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-y: auto;

    .downloadListItem{
      display: flex;
    }
  }
}
