.downloadMain{
  display: flex;
  height: 100%;
  width: -webkit-fill-available;

  .downloadBar{
    height: 100%;
    padding: var(--window-titlebar-height) 12px 12px 12px;
    border-right: 1px solid var(--color-border);
    background-color: var(--cust-slider-sec-bg);

    .downloadBtn{
      margin-top: 10px;
      margin-bottom: 28px;

      button{
        box-shadow: 2px 2px 8px rgba(0, 0, 0, .24);
        height: 34px;
      }
    }

    .barItem{
      display: flex;
      align-items: center;
      justify-content: flex-start;
      width: 120px;
      height: 30px;
      border-radius: 6px;
      cursor: pointer;
      font-size: 15px;
      color: var(--color-text-second);
      position: relative;
      transition: all 0.3s;
      margin: 0 0 10px 0;
      padding: 5px 16px;
      transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);

      svg{
        font-size: 20px;
        margin-right: 10px;
      }

      &.active{
        background-color: var(--color-primary-second);
        color: var(--color-primary);
      }
    }
  }

  .leftContainer{
    flex: 1;
    height: 100%;
    padding-top: var(--window-titlebar-height);
  }
}


.downloadContainer{
  height: 100%;
  width: -webkit-fill-available;
  display: flex;
  flex-direction: column;

  .containerTop{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 16px;
    border-block-end: 1px solid var(--color-border);

    .leftTitle{
      display: flex;
      align-items: center;

      h1{
        margin: 0;
        font-size: 22px;
        color: var(--color-text-primary);
      }

      .downloadCount{
        margin-left: 10px;
        background: var(--color-primary-second);
        color: var(--color-primary);
        padding: 4px 8px;
        line-height: 1;
        border-radius: 6px;
      }
    }
  }

  .downloadList{
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-y: auto;

    .downloadListItem{
      display: flex;
    }
  }
}
