.downloadItem{
  padding: 12px 14px;
  border: 1px solid rgba(5, 5, 5, 0.06);
  backdrop-filter: blur(5px);
  display: flex;
  margin: 8px 10px;
  border-radius: 6px;
  background-size: cover;
  background-position: center;
  position: relative;
  text-shadow: 0 0 2px rgba(0, 0, 0, .1);
  color: #fff!important;

  .downloadCover{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
    border-radius: 6px;

    .mask{
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      width: 100%;
      z-index: 1;
      backdrop-filter: blur(20px) brightness(.7);
      transition: width 0.3s;
      border-radius: 6px;
    }

    img{
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      object-fit: cover;
      filter: contrast(0.5);
      border-radius: 6px;
    }
  }


  &.loader {
    //width: 100%;
    //height: 100%;
    background: linear-gradient(90deg, #0001 33%, rgb(98 106 239 / 20%) 50%, #0001 66%) #fff;
    background-size: 300% 100%;
    animation: ci_1 1.6s infinite linear;
    color: var(--color-text-primary)!important;
  }

  @keyframes ci_1 {
    0% {
      background-position: right;
    }
  }

  .leftContainer{
    flex: 1;


    .title{
      font-size: 16px;
      font-weight: 500;
    }

    .content{
      display: flex;
      justify-content: space-between;
      margin-top: 12px;

      .contentLeft{
        display: flex;
        align-items: center;
      }

      .contentRight{
        display: flex;
        align-items: center;
      }
    }
  }

  .rightContainer{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

    .anal{
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background: var(--color-primary);
    }
  }



}
