@keyframes fadeInOnLoad {
  to { opacity: 1; filter: brightness(0.3) contrast(.65); }
}

.downloadItem{
  padding: 16px 12px 6px 12px;
  height: 76px;
  border: 1px solid rgba(5, 5, 5, 0.06);
  backdrop-filter: blur(4px);
  will-change: transform;
  transform: translateZ(0);
  display: flex;
  margin: 10px 12px 0 12px;
  border-radius: 6px;
  background-size: cover;
  background-position: center;
  position: relative;
  text-shadow: 0 0 2px rgba(0, 0, 0, .1);
  color: #fff!important;
  align-items: center;
  overflow: hidden;
  box-sizing: border-box;

  //&:last-child{
  //  margin-bottom: 10px;
  //}

  .downloadCover{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
    border-radius: 6px;
    transform: translateZ(0);
    background-color: var(--color-download-cover-default-bg);

    .mask{
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      width: 100%;
      z-index: 1;
      backdrop-filter: blur(4px) brightness(.6);
      will-change: transform;
      transform: translateZ(0);
      transition: width 0.3s;
    }

    img{
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      object-fit: cover;
      filter: brightness(0.3) contrast(.65) blur(16px);
      will-change: transform;
      transform: translateZ(0);
      background-color: #000;
      border-radius: 6px;
      opacity: 0;
      //transition: opacity 2s ease-in-out;
      animation: fadeInOnLoad .6s forwards;
      animation-timing-function: cubic-bezier(.63,.63,.38,1);
      //animation-delay: .5s;
    }
  }


  &.loader, &.loaderErr {
    //width: 100%;
    //height: 100%;
    background: linear-gradient(90deg, #0001 33%, rgb(98 106 239 / 20%) 50%, #0001 66%) var(--color-download-item-anal);
    background-size: 300% 100%;
    animation: ci_1 1.6s infinite linear;
    color: var(--color-text-primary)!important;


    .title{
      text-shadow: none!important;
    }

    .contentLeft{
      color: var(--color-text-second)!important;
      text-shadow: none!important;
    }
  }

  &.loaderErr{
    animation: unset!important;
    background: var(--color-download-item-err);
  }

  @keyframes ci_1 {
    0% {
      background-position: right;
    }
  }

  .leftContainer{
    flex: 1;
    text-shadow: 0 0 1px rgba(0, 0, 0, .3);
    padding-right: 66px;
    width: -webkit-fill-available;

    &.full{
      padding-right: 0!important;
    }

    .title{
      font-size: 15px;
      font-weight: 500;
      display: flex;
      align-items: flex-end;
      text-wrap: nowrap;
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .content{
      display: flex;
      justify-content: space-between;
      margin-top: 6px;
      align-items: flex-end;


      .contentLeft{
        display: flex;
        align-items: center;
        height: 30px;
        color: #c7c7c7;

        .speed{
          padding-left: 12px;
          font-size: 14px;
          border-left: 1px solid #666;
          margin-left: 12px;
          width: 60px;
        }

        *{
          line-height: 1;
        }
      }

      .contentRight{
        display: flex;
        align-items: center;

        .actionGroup{
          display: flex;
          align-items: center;
          //padding-left: 10px;
          gap: 8px;


          .actionButton{
            width: 30px;
            height: 30px;
            border-radius: 6px;
            transition: background-color .2s;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 16px;

            &.danger{
              $color: #ff4d4f;

              &:hover{
                background-color: mix(rgba($color, 0.2), rgba(255,255,255,.6), 40%);
                color: var(--color-danger);
              }

              &:active{
                background-color: mix(rgba($color, 0.3), #fff, 38%);
                color: var(--color-danger);
              }
            }

            &:hover{
              background-color: rgba(255,255,255,.2);
            }

            &:active{
              background-color: rgba(255,255,255,.3);
            }
          }
        }
      }
    }
  }

  .rightContainer{
    width: 78px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    svg{
      font-size: 20px;
    }

    .actionLoading{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
    }

    .actionButton{
      line-height: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50px;
      height: 50px;
      cursor: pointer;
      border-radius: 6px;
      transition: background-color 0.2s;
      will-change: background-color;


      &:hover{
        background-color: rgba(255,255,255,.14);
      }

      &:active{
        background-color: rgba(255,255,255,.26);
      }
    }


    .anal{
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background: var(--color-primary);
    }
  }



}
