.configContainer{
  height: 100%;
  width: 100%;
  transition: backdrop-filter .3s;
  border-radius: 8px;
  overflow: hidden;

  $formGap: 14px;


  .configContent{
    display: flex;
    height: 100%;
    width: 100%;
    margin: 0 auto;

    .leftContent{
      width: 180px;
      padding: 24px 18px 18px 18px;
      box-sizing: border-box;
      border-right: 1px solid var(--color-border);
      background-color: var(--color-config-slider);
      backdrop-filter: blur(20px);

      .title{
        font-size: 18px;
        font-weight: bold;
        color: #333333;
        padding: 20px 12px 14px 12px;
        border-right: 1px solid rgba(16, 24, 40, 0.0392156863);
      }

      .configGroupList{


        .groupItem{
          padding: 9px 12px;
          cursor: pointer;
          margin-bottom: 4px;
          color: var(--color-config-slider-text);

          font-size: 14px;
          display: flex;
          align-items: center;
          border-radius: .5rem;

          span[role='img']{
            margin-right: 10px;
            font-size: 18px;
          }

          span.label{
            line-height: 1;
            padding-top: 2px;
            font-weight: bold;
          }

          &.active{
            background-color: var(--color-config-slider-active-bg);
            color: var(--color-config-slider-active-text)!important;

            span.label{
              color: var(--color-config-slider-active-text)!important;
            }
          }
        }
      }
    }

    .rightContent{
      background: var(--color-config-content);
      flex: 1;
      height: 100%;
      overflow-y: auto;
      box-sizing: border-box;
      display: flex;

      .closeButton{
        position: absolute;
        right: 18px;
        top: 18px;
      }

      .rightMainContent{
        flex: 1;
        height: 100%;
        overflow-y: hidden;
        display: flex;
        flex-direction: column;
        //margin-right: 28px;

        .bottomContent{
          padding: 0 18px;
          //width: 100%;
          flex: 1;
          overflow-y: auto;
          padding-top: 14px;

          :global{
            .ant-form-item{
              margin-bottom: 0;
            }
          }

          .configTitle{
            color: var(--color-text-second);
            padding: 0 12px 8px 6px;

          }

          .configBlock{
            background-color: var(--color-block);
            overflow: hidden;
            border-radius: 6px;
            border: 1px solid var(--color-block-border);
            margin-bottom:  $formGap;

            .configItem{
              margin: 0 0 0  $formGap;
              padding:  $formGap - 4  $formGap  $formGap - 4 0;
              border-bottom: 1px solid var(--color-block-border);
              display: flex;
              align-items: center;
              justify-content: space-between;
              background-color: var(--color-block);

              &:last-child{
                border-bottom: none;
              }

              .labelPart{
                color: var(--color-text-primary);
              }

              .contentPart{

                .customRadio{
                  height: max-content;
                  padding: 0;
                  display: flex;
                  //overflow: hidden;

                  .themeButton{
                    display: flex;
                    position: relative;
                    margin-left: 12px;
                    flex-direction: column;
                    align-items: center;

                    &.active{
                      img{
                        outline: 1px solid var(--color-primary);
                        border-color: var(--color-primary);
                      }
                    }

                    img{
                      width: 70px;
                      border-radius: 6px;
                      cursor: pointer;
                      border: 1px solid #1018280f;
                    }

                    span{
                      padding-top: 8px;
                      font-size: 12px;
                      color: var(--color-text-thr);
                      line-height: 1;
                    }
                  }
                }
              }
            }

            .subConfigItem{
              position: relative;
              padding-bottom:  $formGap + 1;
              //top: -1px;
              padding-left:  $formGap;
              margin-left: 0;
              //border-top: 1px solid #e8e8e8;
              //background: #f6f6f6;
              //box-shadow: inset 0 2px 4px rgba(0, 0, 0, .04);
            }
          }
        }
      }


      //&::after{
      //  content: '';
      //  width: 50%;
      //  height: 100%;
      //  background-color: #fff;
      //  display: block;
      //  position: fixed;
      //  right: 0;
      //  top: 0;
      //  z-index: -1;
      //}

      .title{
        padding: 20px 12px 14px 18px;
        font-size: 20px;
        font-weight: bold;
        color: var(--color-text-primary);
        border-bottom: 1px solid var(--color-border);
      }
    }
  }
}

.cookieDialog{
  //padding: 0!important;
  overflow: hidden;

  //:global{
  //  .ant-modal-header{
  //    padding: 20px 24px;
  //  }
  //}
}


