.configContainer{
  height: 100%;
  width: 100%;
  transition: backdrop-filter .3s;

  .configContent{
    display: flex;
    height: 100%;
    max-width: 800px;
    margin: 0 auto;

    .leftContent{
      width: 180px;
      padding: 0 18px;
      box-sizing: border-box;
      border-right: 1px solid #1018280a;

      .title{
        font-size: 18px;
        font-weight: bold;
        color: #333333;
        padding: 35px 12px 28px 12px;
      }

      .configGroupList{


        .groupItem{
          padding: 9px 12px;
          cursor: pointer;
          margin-bottom: 2px;
          color: #495464;

          font-size: 14px;
          display: flex;
          align-items: center;
          border-radius: .5rem;

          span[role='img']{
            margin-right: 10px;
            font-size: 18px;
          }

          span.label{
            line-height: 1;
            padding-top: 2px;
            font-weight: bold;
          }

          &.active{
            background-color: #c8ceda66;
            color: #18222f!important;

            span.label{
              color: #18222f!important;
            }
          }
        }
      }
    }

    .rightContent{
      background: #ffffff;
      flex: 1;
      height: 100%;
      overflow-y: auto;

      box-sizing: border-box;
      display: flex;

      .rightMainContent{
        flex: 1;
        height: 100%;
        margin-right: 28px;

        .bottomContent{
          padding: 0 18px;
          width: 100%;

          :global{
            .ant-form{
              border-radius: 10px;
              padding: 12px 18px;
              background: #f9fafb;
            }
          }
        }
      }


      &::after{
        content: '';
        width: 50%;
        height: 100%;
        background-color: #fff;
        display: block;
        position: fixed;
        right: 0;
        top: 0;
        z-index: -1;
      }

      .title{
        padding: 35px 18px 28px 18px;
        font-size: 18px;
        font-weight: bold;
        color: #333333;
      }
    }
  }
}
