$windowTitleBarHeight: 35px;

.windowTitleContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 20;
  height: $windowTitleBarHeight;
  -webkit-app-region: drag;
  background: transparent;

  //border-bottom: 1px solid #e9e9e9;

  &.immerse {
    background: transparent !important;
    border: none !important;
  }

  .windowCommandGroup {
    -webkit-app-region: no-drag;
    height: 100%;

    .commandContainer {
      height: 100%;
      display: flex;
      align-items: center;

      .logo-icon {
        height: 22px;
        padding: 0 4px 0 10px;
      }

      .commandButton {
        padding: 6px 12px;
        display: flex;
        align-items: center;
        cursor: pointer;
        font-size: 14px;
        border-radius: 4px;
        transition: all 0.3s;
        text-shadow: 0 0 2px rgba(0, 0, 0, 0.04);

        &:hover {
          background: #f2f2f2;
        }
      }
    }
  }

  .windowTitle {
    font-size: 15px;
  }

  .windowBottonGroup {
    display: flex;
    align-items: center;
    -webkit-app-region: no-drag;
    height: 35px;
    position: fixed;
    right: 16px;
    top: 12px;
    gap: 4px;

    .windowBotton {
      height: 100%;
      padding: 0 14px;
      cursor: pointer;
      display: flex;
      align-items: center;
      color: var(--color-text-primary);
      border-radius: 6px;

      &.closeButton {
        &:hover {
          background: red !important;
          color: #fff;
        }
      }

      &:hover {
        background: var(--color-window-button-hover);
      }
    }
  }
}
