$windowTitleBarHeight: var(--window-titlebar-height);

.windowTitleContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  z-index: 20;
  height: $windowTitleBarHeight;
  -webkit-app-region: drag;
  background: transparent;
  overflow: hidden;
  //border-bottom: 1px solid #e9e9e9;

  .stepBar{
    height: 100%;
    padding-left: 60px;
    position: relative;
    width: 100vw;
    display: flex;
    align-items: center;
    padding-right: var(--base-space);
    box-sizing: border-box;

    z-index: 5;
    //border-right: 1px solid var(--color-border);

    .tabList{
      flex: 1;
      overflow-x: auto;
      overflow-y: hidden;
      display: flex;
      height: 100%;
      align-items: center;
      padding-left: 10px;
    }


    .logoContainer{
      width: -webkit-fill-available;
      display: flex;
      justify-content: center;
      font-size: 22px;
      font-weight: bolder;
      padding: 4px 0 4px 0;
      align-items: center;

      img{
        height: 50px;
      }
    }

    @keyframes fadeLeft {
      from {

        transform: translateY(100%);
      }
      to {

        transform: translateY(0);

      }

    }

    .stepBarItem{
      display: flex;
      //flex-direction: column;
      align-items: center;
      justify-content: center;
      border-radius: 8px;
      cursor: pointer;
      color: var(--color-text-primary);
      transform-origin: bottom;
      position: relative;
      transition: all 0.3s;
      //margin: 0 0 0 8px;
      -webkit-app-region: no-drag;
      padding:0 16px;
      height: 34px;
      animation: fadeLeft .35s;
      animation-timing-function: cubic-bezier(0.175, 0.885, 0.22, 1.175);
      min-width: 0;


      .icon{
        svg{
          font-size: 14px;
        }
      }


      &.tabBar{
        height: 34px;
        border-radius: 8px;
        margin: 2px 2px 0 3px;
        padding: 0 16px;


        &::before, &::after {
          content: "";
          position: absolute;
          z-index: -1;
          width: 16px;
          height: 24px;
        }
        &::before { left: -12px; transform: skew(-22deg); }
        &::after { right: -12px; transform: skew(22deg); }

        .itemLabel{
          flex: 1;
          overflow: hidden;
          white-space: nowrap;
        }

        &.active{
          border-radius: 8px 8px 0 0;
          position: relative;
          padding-bottom: 10px;
          margin-top: 10px;
          box-shadow: 0 0 8px rgba(0, 0, 0, .04);


          &::before {
            content: "";
            left: -4px;
            bottom: 4px;
            width: 6px;
            height: 25px;
            border-bottom-right-radius: 300px;
            box-shadow: 5px 5px 0px 4px var(--cust-content-bg);
            transition: box-shadow .35s;
          }
          &::after {
            content: "";
            right: -4px;
            bottom: 4px;
            width: 6px;
            height: 25px;
            border-bottom-left-radius: 300px;
            box-shadow: -5px 5px 0px 4px var(--cust-content-bg);
            transition: box-shadow .35s;
          }
        }
      }


      .tabDivider{
        width: 1.5px;
        border-radius: 2px;
        height: 20px;
        background-color: var(--color-border);
        position: absolute;
        right: 0;
      }

      &.fixBtn{
        border-radius: 50px;
        padding:0 16px;
      }

      .closeButton{
        margin-left: 6px;
        border-radius: 50%;
        width: 16px;
        min-width: 16px;
        height: 16px;
        display: flex;
        align-items: center;
        justify-content: center;

        svg{
          font-size: 12px;
          color: var(--color-text-primary);
        }

        &:hover{
          background-color: red;

          svg{
            color: #fff;
          }
        }
      }

      &.configBtn{
        width: 34px;
        padding: 0;

        margin-left: 10px;
        box-shadow: 0 0 8px rgba(0, 0, 0, .04);

        svg{
          font-size: 18px;
          color: var(--color-text-primary);
        }
      }

      &.addBtn{
        width: 34px;
        min-width: 34px;
        padding: 0;
        margin-right: 10px;
        background-color: transparent!important;
        margin-left: 4px;

        &:hover{
          background-color: rgba(0,0,0,.06)!important;
        }

        svg{
          font-size: 16px;
          color: var(--color-text-primary)!important;
        }
      }


      &:hover {
        //color: var(--color-primary);
        background-color: rgba(0,0,0,.06);

        .tabDivider{
          display: none;
        }
      }

      &:has(+ .stepBarItem.active){

        .tabDivider{
          display: none;
        }

      }



      &.active {
        background: var(--cust-content-bg);
        //color: var(--color-primary);
        font-weight: bold;
        //padding: 10px 6px 20px 6px;


        .itemLabel{
          font-weight: bold;
        }

        .tabDivider{
          display: none;
        }

        //&:before {
        //  content: '';
        //  height: 6px;
        //  width: 6px;
        //  background: var(--color-primary);
        //  border-radius: 10px;
        //  position: absolute;
        //  right: 16px;
        //}
      }

      &.disabled {
        color: #c3c3c3;
        cursor: not-allowed;
        pointer-events: none;
      }

      .itemLabel{
        font-size: 14px;
        display: inline-block;
        font-weight: lighter;
        padding-left: 8px;
      }
    }

  }


  &.immerse {
    background: transparent !important;
    border: none !important;
  }

  .windowCommandGroup {
    -webkit-app-region: no-drag;
    height: 100%;

    .commandContainer {
      height: 100%;
      display: flex;
      align-items: center;

      .logo-icon {
        height: 22px;
        padding: 0 4px 0 10px;
      }

      .commandButton {
        padding: 6px 12px;
        display: flex;
        align-items: center;
        cursor: pointer;
        font-size: 14px;
        border-radius: 4px;
        transition: all 0.3s;
        text-shadow: 0 0 2px rgba(0, 0, 0, 0.04);

        &:hover {
          background: #f2f2f2;
        }
      }
    }
  }

  .windowTitle {
    font-size: 15px;
  }

  .windowBottonGroup {
    display: flex;
    align-items: center;
    -webkit-app-region: no-drag;
    height: 35px;
    position: fixed;
    right: 16px;
    top: 12px;
    gap: 4px;

    .windowBotton {
      height: 100%;
      padding: 0 14px;
      cursor: pointer;
      display: flex;
      align-items: center;
      color: var(--color-text-primary);
      border-radius: 6px;

      &.closeButton {
        &:hover {
          background: red !important;
          color: #fff;
        }
      }

      &:hover {
        background: var(--color-window-button-hover);
      }
    }
  }
}
