:root[data-theme='light'] {
    --cust-content-bg: #fdfdfd;
    --cust-slider-bg: rgba(240, 239, 239, 0.8);
    --cust-slider-sec-bg: #fafafa;
    --cuse-browser-bg: #f2f2f2;
    --color-text-primary: #333;
    --color-text-second: #666;
    --color-text-thr: #999;
    --color-primary: #4d53e8;
    --color-border: rgba(5, 5, 5, 0.06);
    --color-primary-second: rgba(98, 106, 239, .1);
    --color-config-slider: rgba(250, 250, 250, .94);
    --color-config-slider-text: #495464;
    --color-config-slider-active-text: #18222f;
    --color-config-slider-active-bg: rgba(200, 206, 218, 0.4);
    --color-config-content: #fff;
    --color-block: #f9fafb;
    --color-block-border: #1018280a;
    --color-window-button-hover: #e8e8e8;
    --color-download-item-anal: #fff;
    --color-download-item-err: #ffccc7;
}

:root[data-theme='dark'] {
    --cust-content-bg: #232323;
    --cust-slider-bg: rgba(47, 47, 47, .7);
    --cust-slider-sec-bg: #2d2d2d;
    --cuse-browser-bg: #2d2d2d;
    --color-text-primary: #E0E0E0;
    --color-text-second: #B0B0B0;
    --color-text-thr: #808080;
    --color-primary: #9b9fff;
    --color-border: rgba(255, 255, 255, 0.06);
    --color-primary-second: rgba(169, 172, 255, .12);
    --color-config-slider: #2b2b2b;
    --color-config-content: #1f1e1e;
    --color-block: #2A2A2A;
    --color-block-border: rgba(255, 255, 255, 0.06);
    --color-config-slider-text: #B0B0B0;
    --color-config-slider-active-text: #E0E0E0;
    --color-config-slider-active-bg: rgba(200, 206, 218, 0.2);
    --color-window-button-hover: #2c2c2c;
    --color-download-item-anal: #4b4a4a;
    --color-download-item-err: #451d1f;
    --ant-color-bg-mask: rgba(255,255,255,0.85);
}
