$stepBarWidth: 170px;

.indexContainer{
  display: flex;
  height: 100vh;
  flex-direction: column;

  .contentContainer{
    display: flex;
    height: 100%;
  }
}

.stepBar{
  height: -webkit-fill-available;
  padding: var(--window-titlebar-height) 6px 12px 6px;
  background: var(--color-white);
  position: relative;
  width: $stepBarWidth;
  //box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 5;
  background: #f4f4f4;
  border-right: 1px solid rgba(5, 5, 5, 0.06);

  .logoContainer{
    width: -webkit-fill-available;
    display: flex;
    justify-content: center;
    font-size: 22px;
    font-weight: bolder;
    padding: 4px 0 12px 0;
    align-items: center;

    img{
      height: 40px;
    }
  }

  .bottomButton{
    position: absolute;
    bottom: 0;
    //border-top: 1px solid rgba(5, 5, 5, 0.06);
    width: -webkit-fill-available;
    padding: 14px 12px 18px 12px;
    left: 0;
  }
}

.stepBarItem{
  display: flex;
  //flex-direction: column;
  align-items: center;
  padding: 12px 6px 12px 16px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 15px;
  color: var(--color-text-primary);
  // margin: 0 12px;
  margin-bottom: 16px;
  position: relative;
  transition: all 0.3s;
  margin: 8px;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);

  &:hover {
    color: var(--color-primary);
  }

  &.active {
    background: var(--color-primary-second);
    color: var(--color-primary);
    font-weight: bold;
    //padding: 10px 6px 20px 6px;

    &:before {
      content: '';
      height: 6px;
      width: 6px;
      background: var(--color-primary);
      border-radius: 10px;
      position: absolute;
      right: 16px;
    }
  }

  &.disabled {
    color: #c3c3c3;
    cursor: not-allowed;
    pointer-events: none;
  }

  .itemLabel{
    margin-left: 10px;
    line-height: .94;
    display: inline-block;
    font-weight: lighter;
  }
}

.projectContainer{
  flex: 1;
  height: -webkit-fill-available;
  overflow: hidden;
  padding-top: var(--window-titlebar-height);
}

.sysConfigDrawer {
    //border-radius: 0;
  height: 90vh!important;
  width: 680px!important;
  top: calc(50% - 45vh);

   :global{
     .ant-drawer-header{
       padding: 36px 24px 16px 24px!important;
       font-size: 21px;

     }

     .ant-modal{

     }

     .ant-modal-content{
       height: 90vh!important;
       background-color: transparent;
       padding: 0;
       //backdrop-filter: blur(5px);
     }

     .ant-modal-body{
       height: 100%!important;
     }
   }


}
