$stepBarWidth: 66px;

.indexContainer{
  display: flex;
  height: 100vh;
  flex-direction: column;
  background-color: var(--cust-slider-bg);


  .contentContainer{
    display: flex;
    height: calc(100% - var(--window-titlebar-height));
    //margin: 0 var(--base-space) var(--base-space) var(--base-space);
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0, 0, 0, .04);
  }
}

.searchContainer{

  :global {
    .ant-modal-content{
      padding: 0;
    }
  }
}




.projectContainer{
  flex: 1;
  height: -webkit-fill-available;
  overflow: hidden;
  background-color: var(--cust-content-bg);
}

.sysConfigDrawer {
    //border-radius: 0;
  height: 90vh!important;
  width: 680px!important;
  top: calc(50% - 45vh);

   :global{
     .ant-drawer-header{
       padding: 36px 24px 16px 24px!important;
       font-size: 21px;

     }

     .ant-modal{

     }

     .ant-modal-content{
       height: 90vh!important;
       background-color: transparent;
       padding: 0;
       //backdrop-filter: blur(5px);
     }

     .ant-modal-body{
       height: 100%!important;
     }
   }


}
