$stepBarWidth: 160px;

.indexContainer{
  display: flex;
  height: -webkit-fill-available;
}

.stepBar{
  height: -webkit-fill-available;
  padding: 12px 8px;
  background: var(--color-white);
  position: relative;
  width: $stepBarWidth;
  //box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 5;
  background: #f4f4f4;
}

.stepBarItem{
  display: flex;
  //flex-direction: column;
  align-items: center;
  padding: 10px 6px 10px 16px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  color: var(--color-text-second);
  // margin: 0 12px;
  margin-bottom: 16px;
  position: relative;
  transition: all 0.3s;
  margin: 8px;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);

  &:hover {
    color: var(--color-primary);
  }

  &.active {
    background: var(--color-primary-second);
    color: var(--color-primary);
    font-weight: bold;
    //padding: 10px 6px 20px 6px;

    &:before {
      content: '';
      height: 6px;
      width: 6px;
      background: var(--color-primary);
      border-radius: 10px;
      position: absolute;
      right: 16px;
    }
  }

  &.disabled {
    color: #c3c3c3;
    cursor: not-allowed;
    pointer-events: none;
  }

  .itemLabel{
    margin-left: 10px;
    line-height: 1.2;
    display: inline-block;
  }
}

.projectContainer{
  flex: 1;
  height: 100%;
  overflow: hidden;
}
